<div class="select">
  <label [for]="options?.id" class="select__label" *ngIf="options?.label">{{
    options?.label
  }}</label>
  <div
    appFocus
    (onFocus)="setFocus($event)"
    class="select__input"
    [ngClass]="{
      'select__input--disabled': isDisabled,
      'select__input--invalid': isInvalid,
      'select__input--focused': isFocused
    }"
  >
    <span>
      {{ controlValue?.label ? controlValue?.label : "&nbsp;" }}
    </span>
    <img class="dropdown-icon" [src]="IC_DOWN_ARROW" *ngIf="!isDisabled" />
  </div>
  <div class="select__dropdown" *ngIf="isFocused">
    <div
      class="select__option"
      *ngFor="let option of options?.options"
      (click)="setSelectedOption(option)"
    >
      {{ option?.label }}
    </div>
  </div>
  <app-error-message
    [options]="{ control: options?.control }"
  ></app-error-message>
</div>
