<p-panel styleClass="mt-2">
  <div class="grid">
    <div class="col-6"><h3>Transações</h3></div>
    <div class="col-4 flex align-content-center" *ngIf="!isMobile">
      <p-checkbox
        binary="true"
        [formControl]="form.controls['expense']"
        class="mr-2"
        (onChange)="onFilterChange.emit()"
      ></p-checkbox>
      <label class="flex align-items-center justify-content-center mr-4"
        >Despesas</label
      >
      <p-checkbox
        binary="true"
        [formControl]="form.controls['revenue']"
        class="mr-2"
        (onChange)="onFilterChange.emit()"
      ></p-checkbox>
      <label class="flex align-items-center justify-content-center"
        >Receitas</label
      >
    </div>
    <div class="col-2" *ngIf="!isMobile">
      <button
        pButton
        type="button"
        label="Adicionar"
        icon="pi pi-plus"
        class="p-button-warning p-button-rounded"
        (click)="onAddTransactionClick.emit()"
      ></button>
    </div>
  </div>

  <p-table
    [value]="transactionsPage?.content"
    [lazy]="true"
    [paginator]="true"
    [rows]="elementsPerPage?.value"
    [totalRecords]="transactionsPage?.totalOfElements"
    [first]="page?.value * elementsPerPage?.value"
    (onLazyLoad)="changePage($event)"
    responsiveLayout="scroll"
    *ngIf="!isMobile"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>Descrição</th>
        <th>Data</th>
        <th>Valor</th>
        <th>Tipo</th>
        <th>Categoria</th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-transaction>
      <tr>
        <td>{{ transaction?.description }}</td>
        <td>{{ transaction?.transactionDate | date : "dd/MM/yyyy" }}</td>
        <td>{{ transaction?.value | currency }}</td>
        <td>
          <i
            pBadge
            [value]="transaction?.transactionCategory?.transactionType"
            [severity]="setBadgeColor(transaction)"
          ></i>
        </td>
        <td>{{ transaction?.transactionCategory?.description }}</td>
        <td>
          <button
            pButton
            type="button"
            icon="pi pi-pencil"
            iconPos="left"
            class="p-button-outlined p-button-raised p-button-rounded mr-2"
            (click)="onEditClick.emit(transaction)"
          ></button>
          <button
            pButton
            type="button"
            icon="pi pi-times"
            iconPos="left"
            class="p-button-outlined p-button-raised p-button-rounded p-button-danger"
            (click)="openDeleteConfimation(transaction)"
          ></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="6">Nenhuma transação encontrada para este período.</td>
      </tr>
    </ng-template>
  </p-table>
  <button
    *ngIf="isMobile"
    pButton
    type="button"
    icon="pi pi-plus"
    class="p-button-warning p-button-rounded p-button-raised float-button"
    (click)="onAddTransactionClick.emit()"
  ></button>
</p-panel>

<p-dialog [(visible)]="deleteConfirmationIsOpen" [modal]="true">
  Deseja realmente excluir esta transação?

  <button
    pButton
    type="button"
    label="Confirmar"
    (click)="deleteTransaction()"
  ></button>
</p-dialog>
