<p-panel header="Período">
  <div [formGroup]="paramsForm">
    <p-calendar
      formControlName="period"
      view="month"
      dateFormat="mm/yy"
      [style]="{ width: '100%' }"
      [inputStyle]="{ width: '100%' }"
      (onSelect)="findTransactions()"
      (onSelect)="findSummaries()"
    ></p-calendar>
  </div>
</p-panel>

<app-transaction-summary
  [summaries]="summaries$ | async"
></app-transaction-summary>

<app-transaction-form
  [form]="transactionForm"
  [isOpen]="transactionFormIsOpen"
  [transactionCategories]="transactionCategories$ | async"
  (onHide)="closeTransactionFormDialog()"
  (onSave)="saveTransaction()"
></app-transaction-form>

<app-transaction-list
  [transactionsPage]="transactionsPage$ | async"
  [form]="paramsForm"
  (onAddTransactionClick)="openTransactionFormDialog()"
  (onPageChange)="findTransactions()"
  (onFilterChange)="findTransactions()"
  (onDeleteClick)="deleteTransaction($event)"
  (onEditClick)="editTransaction($event)"
></app-transaction-list>

