<div style="width: 100%; padding: 1rem">
  <app-card>
    <div forHeader>
      <p class="card-title">Card</p>
    </div>
    <div forContent>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facilis dolore
      sequi, recusandae dolor dolores aliquam perferendis ipsa magni in impedit
      optio, deserunt a non tempora quaerat asperiores odio? Sit, nemo. Lorem
      ipsum, dolor sit amet consectetur adipisicing elit.
    </div>
  </app-card>

  <app-card
    ><div forHeader><p class="card-title">Checkbox</p></div>
    <div forContent>
      <div style="display: flex">
        <div style="margin-bottom: 10px; margin-right: 10px">
          <app-checkbox [options]="checkboxExpensesOptions()"></app-checkbox>
        </div>
        <div class="margin-bottom">
          <app-checkbox [options]="checkboxReceiptsOptions()"></app-checkbox>
        </div>
      </div>
    </div>
  </app-card>

  <app-card>
    <div forHeader>
      <div style="display: flex; justify-content: space-between">
        <p class="card-title">Select</p>
        <app-checkbox
          [options]="checkboxDisableSelectOptions()"
          (valueChange)="disableCarSelects($event)"
        ></app-checkbox>
      </div>
    </div>
    <div forContent>
      <div class="margin-bottom">
        <app-select [options]="carSelectOptions1()"></app-select>
      </div>
      <app-select [options]="carSelectOptions2()"></app-select>
    </div>
  </app-card>

  <app-card>
    <div forHeader>
      <p class="card-title">Input</p>
    </div>
    <div forContent>
      <div class="margin-bottom">
        <app-datepicker
          [options]="datepickerNascimentoOptions()"
        ></app-datepicker>
      </div>
      <div class="margin-bottom">
        <app-input [options]="inputNomePessoaOptions()"></app-input>
      </div>
      <div class="margin-bottom">
        <app-input [options]="inputSalarioPessoaOptions()"></app-input>
      </div>
    </div>
  </app-card>
</div>
