<p-panel header="Periodo">
  <div [formGroup]="paramsForm">
    <p-calendar
      formControlName="period"
      view="month"
      dateFormat="mm/yy"
      [style]="{ width: '100%' }"
      [inputStyle]="{ width: '100%' }"
      (onSelect)="loadTransactions()"
      (onSelect)="loadSummaries()"
      (onSelect)="loadExpenseSummaries()"
    ></p-calendar>
  </div>
</p-panel>

<app-transaction-summary
  [summaries]="summaries$ | async"
></app-transaction-summary>

<app-transaction-chart
  [expenseSummaries]="expenseSummaries$ | async"
></app-transaction-chart>

<app-transaction-list
  [transactionsPage]="transactionsPage$ | async"
  [form]="paramsForm"
  (onAddTransactionClick)="openTransactionForm()"
  (onPageChange)="loadTransactions()"
  (onFilterChange)="loadTransactions()"
  (onDeleteClick)="openDeleteConfimation($event)"
  (onEditClick)="editTransaction($event)"
></app-transaction-list>

<p-dialog
  [(visible)]="transactionFormIsOpen"
  [modal]="true"
  (onHide)="resetTransactionForm()"
>
  <app-transaction-form
    [form]="transactionForm"
    [categories]="categories$ | async"
    [types]="types$ | async"
  ></app-transaction-form>
  <button
    pButton
    type="button"
    label="Salvar"
    icon="pi pi-save"
    class="p-button-warning mt-2 p-button-rounded"
    [style]="{ width: '100%' }"
    [disabled]="transactionForm?.invalid"
    (click)="salvar()"
  ></button>
</p-dialog>

<p-dialog [(visible)]="deleteConfirmationIsOpen" [modal]="true">
  Deseja realmente excluir esta transação?

  <button
    pButton
    type="button"
    label="Confirmar"
    (click)="deleteTransaction()"
  ></button>
</p-dialog>
