@use "../../../../assets/sass/mixins" as mixins;

.input {
  &__field {
    width: 100%;
    padding: 1.2rem;
    border-radius: 0.5rem;
    border: 1px solid var(--color-light-grey);
    font-family: inherit;
    font-size: inherit;
    margin-top: 1rem;
    outline: none;

    &--disabled {
      @include mixins.disabled-form-control;
    }

    &--invalid {
      @include mixins.invalid-form-control;
    }

    &--focused {
      @include mixins.focused-form-control;
    }
  }
}
