<div class="grid mt-1">
  <div class="col">
    <ng-template
      *ngTemplateOutlet="
        summaryCard;
        context: {
          $implicit: {
            header: 'Despesas',
            icon: IC_EXPENSE,
            value: expense
          }
        }
      "
    ></ng-template>
  </div>
  <div class="col">
    <ng-template
      *ngTemplateOutlet="
        summaryCard;
        context: {
          $implicit: {
            header: 'Receitas',
            icon: IC_PROFITS,
            value: revenue
          }
        }
      "
    ></ng-template>
  </div>
  <div class="col">
    <ng-template
      *ngTemplateOutlet="
        summaryCard;
        context: {
          $implicit: {
            header: 'Resultado',
            icon: IC_SALARY,
            value: revenue - expense
          }
        }
      "
    ></ng-template>
  </div>

  <ng-template #summaryCard let-summary>
    <p-panel [header]="summary?.header">
      <div class="grid">
        <div class="col"><img [src]="summary?.icon" /></div>
        <div class="col flex align-content-center">
          <span class="flex align-items-center justify-content-center">{{
            summary?.value | currency
          }}</span>
        </div>
      </div>
    </p-panel>
  </ng-template>
</div>
