<p-card
  styleClass="w-4"
  class="flex justify-content-center align-items-stretch flex-wrap"
>
  <!-- {{ registering?.value ? "Cadastre-se" : "Entrar" }} -->

  <h2 class="flex justify-content-center mb-4">EXPENSES TRACKER</h2>

  <form [formGroup]="loginForm" class="p-2">
    <span class="p-float-label mt-2">
      <input
        id="description-input"
        type="email"
        pInputText
        formControlName="email"
        [style]="{ width: '100%' }"
      />
      <label for="description-input">E-mail</label>
    </span>

    <span class="p-float-label mt-2">
      <input
        id="description-input"
        type="password"
        pInputText
        formControlName="password"
        [style]="{ width: '100%' }"
      />
      <label for="description-input">Senha</label>
    </span>

    <div *ngIf="loginError?.value">Login ou senha incorreto</div>

    <div *ngIf="!registering?.value" class="mt-3">
      <p-button
        label="Entrar"
        (click)="login()"
        styleClass="w-12 p-button-raised"
      ></p-button>
    </div>

    <div *ngIf="registering?.value">
      <button type="submit">Cadastrar</button>
    </div>

    <div *ngIf="registering?.value">
      <button type="submit" (click)="cancelUserRegistration()">Cancelar</button>
    </div>

    <!-- <div *ngIf="!registering?.value">
      <a href="#" (click)="openUserRegistration($event)"
        >Não possue usuário? Cadastre-se</a
      >
    </div> -->
  </form>
</p-card>
