@use "../../../../assets/sass/mixins" as mixins;

.datepicker {
  &__input {
    width: 100%;
    padding: 1.2rem;
    border-radius: 0.5rem;
    border: 1px solid var(--color-light-grey);
    font-family: inherit;
    font-size: inherit;
    margin-top: 1rem;
    outline: none;

    &--disabled {
      @include mixins.disabled-form-control;
    }

    &--invalid {
      @include mixins.invalid-form-control;
    }

    &--focused {
      @include mixins.focused-form-control;
    }
  }

  &__dropdown {
    position: absolute;
    border: 1px solid var(--color-light-grey);
    border-radius: 0.5rem;
    z-index: 1;
    box-shadow: 0px 2px 5px 2px var(--color-light-grey);
    background-color: var(--color-white);
    width: 26rem;
  }

  &__controller {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-purple);
    padding: 1rem 1rem;
    color: var(--color-white);
    border-radius: 0.5rem 0.5rem 0 0;
  }

  &__button {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    border-radius: 3rem;
    padding: 1.5rem;

    &:hover {
      background-color: var(--color-blue-violet-transparent);
    }
  }

  &__calendar {
    padding: 1rem;
    height: 26rem;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
  }

  &__day {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &:hover {
      background-color: var(--color-grey-transparent);
      border-radius: 3rem;
    }

    &--selected {
      background-color: var(--color-purple);
      border-radius: 3rem;
      color: var(--color-white);
      transition: background-color 0.5s;
    }

    &--disabled {
      color: var(--color-pink-swan);
      cursor: default;

      &:hover {
        background-color: transparent;
      }
    }
  }

  &__weekday {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
