<div class="datepicker" appFocus (onFocus)="setFocus($event)">
  <label [for]="options?.id" class="datepicker__label" *ngIf="options?.label">{{
    options?.label
  }}</label>
  <input
    *ngIf="control"
    class="datepicker__input"
    [formControl]="control"
    [ngClass]="{
      'datepicker__input--disabled': isDisabled,
      'datepicker__input--focused': isFocused,
      'datepicker__input--invalid': isInvalid
    }"
    [value]="formattedDate"
    maxlength="10"
  />

  <app-calendar
    *ngIf="isFocused"
    [selectedDate]="selectedDate"
    (onChange)="setDate($event)"
  ></app-calendar>

  <app-error-message [options]="{ control: control }"></app-error-message>
</div>
