<p-dialog
  [(visible)]="isOpen"
  [modal]="true"
  [style]="{
    width: !isMobile ? '30vw' : '100vw',
    margin: !isMobile ? '4px' : 0
  }"
  [ngClass]="isMobile ? 'mobile-dialog' : ''"
  [position]="!isMobile ? 'center' : 'bottom'"
  (onHide)="onHide.emit()"
>
  <div [formGroup]="form">
    <div class="mt-4 mb-4">
      <div class="flex justify-content-start flex-wrap gap-3">
        <p-radioButton
          name="transactionType"
          value="Despesa"
          formControlName="transactionType"
          label="Despesa"
          (onClick)="filterCategories()"
        ></p-radioButton>

        <p-radioButton
          name="transactionType"
          value="Receita"
          label="Receita"
          formControlName="transactionType"
          (onClick)="filterCategories()"
        ></p-radioButton>
      </div>
    </div>

    <span class="p-float-label mt-2">
      <input
        id="description-input"
        type="text"
        pInputText
        formControlName="description"
        [style]="{ width: '100%' }"
      />
      <label for="description-input">Descrição</label>
      <small
        class="p-error block"
        *ngIf="description?.invalid && description?.touched"
        >Campo obrigatório.</small
      >
    </span>

    <span class="p-float-label mt-4">
      <p-calendar
        formControlName="transactionDate"
        appendTo="body"
        dateFormat="dd/mm/yy"
        [style]="{ width: '100%' }"
      ></p-calendar>
      <label for="float-input">Data</label>
    </span>

    <span class="p-float-label mt-4">
      <p-inputNumber
        formControlName="value"
        mode="decimal"
        prefix="R$ "
        [style]="{ width: '100%' }"
      ></p-inputNumber>
      <label for="float-input">Valor</label>
    </span>

    <span class="p-float-label mt-4">
      <p-dropdown
        [options]="filteredCategories"
        formControlName="transactionCategory"
        optionLabel="description"
        appendTo="body"
        [style]="{ width: '100%' }"
      ></p-dropdown>
      <label for="float-input">Categoria</label>
    </span>

    <ng-container *ngIf="form?.get('id').value == null">
      <span class="p-float-label mt-4">
        <p-inputNumber
          formControlName="totalInstallments"
          [style]="{ width: '100%' }"
        ></p-inputNumber>
        <label for="float-input">Repetições</label>
      </span>

      <span class="p-float-label mt-4">
        <p-dropdown
          [options]="periods"
          formControlName="period"
          appendTo="body"
          [style]="{ width: '100%' }"
        ></p-dropdown>
        <label for="float-input">Período</label>
      </span>
    </ng-container>
  </div>
  <button
    pButton
    type="button"
    label="Salvar"
    icon="pi pi-save"
    class="p-button-warning mt-4 p-button-rounded"
    [style]="{ width: '100%' }"
    [disabled]="form?.invalid"
    (click)="onSave.emit()"
  ></button>
</p-dialog>
