// Colors
:root {
  --color-black-russian: #0000000d;
  --color-light-grey: #d1d1d1;
  --color-pink-swan: #b6b5b5;
  --color-white: #fff;
  --color-purple: #a559ec;
  --color-blue-violet-transparent: #8a2be25c;
  --color-grey-transparent: #80808026;
  --color-grey: #999696;
  --color-red: red;
}
